
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>qooIndex</title>
</head>
<body>
    <div></div>
    <table border="1">
        <thead></thead>
        <tbody>
            <tr>
                <td>學號 </td>
                <td>姓名 </td>
                <td> </td>
            </tr>
            <tr>
                <td>1102105333 </td>
                <td>謝承恩 </td>
                <td>組長 </td>
            </tr>
            <tr>
                <td>1102105345 </td>
                <td>李居鴻 </td>
                <td>組員 </td>
            </tr>
            <tr>
                <td>1102105349 </td>
                <td>李育維 </td>
                <td>組員 </td>
            </tr>
            <tr>
                <td>1102105351 </td>
                <td>王得祐 </td>
                <td>組員 </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
